<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("d6d3bd3e-6626-42d6-9428-e528e97848fa");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
