<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="configurationSection1" type="Debugging.Demos.ConfigurationSection1, Debugging.Demos"/>
  </configSections>
  <configurationSection1 xmlns="urn:Debugging.Demos">

    <demoElement attribute1="1" attribute2="myval1" />
    <demoElement attribute1="2" attribute2="myval2" />
   

    <demo2Items>
      <demo2Element attribute21="21"/>
      <demo2Element attribute21="22"/>
    </demo2Items>
    <!--
    <demo1Items >
      <demoElement attribute1="1" attribute2="myval2"/>
    </demo1Items>-->
  </configurationSection1>
</configuration>