<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="SampleConfigurationGroup" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
      <section name="sampleConfigurationSection" type="Sample.SampleConfigurationSection, Sample.Rocks"/>
    </sectionGroup>
  </configSections>
  <SampleConfigurationGroup xmlns="urn:sample">
    <sampleConfigurationSection>
      
    </sampleConfigurationSection>
  </SampleConfigurationGroup>
</configuration>