<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="emailConfigSection" type="Debugging.IssueTests.EmailConfigSection, Debugging"/>
  </configSections>

  <emailConfigSection>
    <emails>
      <email enabled="true" key="1" />
    </emails>
  </emailConfigSection>
</configuration>