<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="test1" type="Debugging.IssueTests.InnerConfigurationSection, Debugging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="test2" type="Debugging.IssueTests.ConfigurationSection1, Debugging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <test1 testAttribute1="mytest" />
  <test2 testAttribute2="mytest2" />
</configuration>