<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mailSection" type="Debugging.IssueTests.MailSection, Debugging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>

  <mailSection xmlns="urn:Debugging.IssueTests">
    <mail subject="Mail Subject">
      <addRemoveClearMapAlternateRecipients>
        <clear/>
        <add address="qwe@qwe.qwe"/>
        <add address="qwe2@qwe.qwe"/>
        <remove address="qwe@qwe.qwe"/>
      </addRemoveClearMapAlternateRecipients>
      <addRemoveClearMapRecipients>
        <clear/>
        <add address="asd@asd.asd"/>
        <add address="asd2@asd.asd"/>
        <remove address="asd@asd.asd"/>
      </addRemoveClearMapRecipients>
      <basicMapAlternateRecipients>
        <reciepient address="zxc@zxc.zxc"/>
      </basicMapAlternateRecipients>
      <basicMapRecipients>
        <reciepient address="qaz@qaz.qaz"/>
      </basicMapRecipients>
    </mail>
  </mailSection>
</configuration>